<!DOCTYPE html>
<html>
<head>
    <title>Simulador de Algoritmos</title>
    <style>
        body {
            margin: 0;
            display: flex;
            font-family: Arial, sans-serif;
        }
        .sidebar {
            width: 200px;
            background-color: #f0f0f0;
            position: fixed;
            top: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
        }
        .algorithm-container {
            overflow-y: auto;
            flex-grow: 1;
            padding: 20px;
        }
        .button-section {
            padding: 10px;
            background-color: #e0e0e0;
            border-top: 1px solid #ccc;
        }
        .simulate-button {
            width: 100%;
            padding: 10px;
            background-color: blue;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .checkbox-group {
            margin-bottom: 10px;
        }
        .content {
            margin-left: 200px; /* Ajusta esto al ancho de tu barra lateral */
            padding: 20px;
            display: flex;
            justify-content: center; /* Centrado horizontal */
            height: calc(100vh - 40px); /* Ajusta la altura si es necesario */
            text-align: center;
        }

        .content img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>

<div class="sidebar">
    <div class="algorithm-container">
        <h3>Sort</h3>
            <div class="checkbox-group">
                <input type="checkbox" id="sortAlgorithms" onclick="toggleCheckboxes(this, 'sortAlgorithm')">
                <label for="sortAlgorithms">All</label><br>
                <!-- Algoritmos de ordenamiento -->
                <input type="checkbox" id="bubbleSort" name="sortAlgorithm" value="BubbleSort">
                <label for="bubbleSort">Bubble Sort</label><br>
                <input type="checkbox" id="quickSort" name="sortAlgorithm" value="QuickSort">
                <label for="quickSort">Quick Sort</label><br>
                <input type="checkbox" id="mergeSort" name="sortAlgorithm" value="MergeSort">
                <label for="mergeSort">Merge Sort</label><br>
                <input type="checkbox" id="heapSort" name="sortAlgorithm" value="HeapSort">
                <label for="heapSort">Heap Sort</label><br>
                <input type="checkbox" id="insertionSort" name="sortAlgorithm" value="InsertionSort">
                <label for="insertionSort">Insertion Sort</label><br>
                <input type="checkbox" id="selectionSort" name="sortAlgorithm" value="SelectionSort">
                <label for="selectionSort">Selection Sort</label><br>
                <input type="checkbox" id="bucketSort" name="sortAlgorithm" value="BucketSort">
                <label for="bucketSort">Bucket Sort</label><br>
                <input type="checkbox" id="radixSort" name="sortAlgorithm" value="RadixSort">
                <label for="radixSort">Radix Sort</label><br>
                <input type="checkbox" id="countingSort" name="sortAlgorithm" value="CountingSort">
                <label for="countingSort">Counting Sort</label><br>
                <input type="checkbox" id="timSort" name="sortAlgorithm" value="TimSort">
                <label for="timSort">Tim Sort</label><br>
            </div>
        <h3>Search</h3>
            <div class="checkbox-group">
                <input type="checkbox" id="searchAlgorithms" onclick="toggleCheckboxes(this, 'searchAlgorithm')">
                <label for="searchAlgorithms">All</label><br>
                <!-- Algoritmos de búsqueda -->
                <input type="checkbox" id="linearSearch" name="searchAlgorithm" value="LinearSearch">
                <label for="linearSearch">Linear Search</label><br>
                <input type="checkbox" id="binarySearch" name="searchAlgorithm" value="BinarySearch">
                <label for="binarySearch">Binary Search</label><br>
                <input type="checkbox" id="jumpSearch" name="searchAlgorithm" value="JumpSearch">
                <label for="jumpSearch">Jump Search</label><br>
                <input type="checkbox" id="exponentialSearch" name="searchAlgorithm" value="ExponentialSearch">
                <label for="exponentialSearch">Exponential Search</label><br>
                <input type="checkbox" id="interpolationSearch" name="searchAlgorithm" value="InterpolationSearch">
                <label for="interpolationSearch">Interpolation Search</label><br>
                <input type="checkbox" id="skipList" name="searchAlgorithm" value="SkipList">
                <label for="skipList">Skip List</label><br>
                <input type="checkbox" id="binarytreeSearch" name="searchAlgorithm" value="BinaryTree">
                <label for="binarytreeSearch">Binary Tree</label><br>
                <input type="checkbox" id="redblacktreeSearch" name="searchAlgorithm" value="RedBlackTree">
                <label for="redblacktreeSearch">Red Black Tree</label><br>
            </div>
        <h3>Paralelizables</h3>
            <div class="checkbox-group">
                <input type="checkbox" id="parallelAlgorithms" onclick="toggleCheckboxes(this, 'paralellAlgorithm')">
                <label for="parallelAlgorithms">All</label><br>
                <!-- Algoritmos estadísticos -->
                <input type="checkbox" id="quickparalell" name="paralellAlgorithm" value="ParallelQuickSort">
                <label for="quickparalell">Quick Sort</label><br>
                <input type="checkbox" id="mergeparalell" name="paralellAlgorithm" value="ParallelMergeSort">
                <label for="mergeparalell">Merge Sort</label><br>
                <input type="checkbox" id="Bucketparalell" name="paralellAlgorithm" value="ParallelBucketSort">
                <label for="Bucketparalell">Bucket Sort</label><br>
                <input type="checkbox" id="radixparalell" name="paralellAlgorithm" value="ParallelRadixSort">
                <label for="radixparalell">Radix Sort</label><br>
                <input type="checkbox" id="countingparalell" name="paralellAlgorithm" value="ParallelCountingSort">
                <label for="countingparalell">Counting Sort</label><br>
                <input type="checkbox" id="timparalell" name="paralellAlgorithm" value="ParallelTimSort">
                <label for="timparalell">Tim Sort</label><br>
                <input type="checkbox" id="exponentialparalell" name="paralellAlgorithm" value="ParallelExponentialSearch">
                <label for="exponentialparalell">Exponential Search</label><br>
                <input type="checkbox" id="interpolationparalell" name="paralellAlgorithm" value="ParallelInterpolationSearch">
                <label for="interpolationparalell">Interpolation Search</label><br>
            </div>
        </div>
    
        <div class="button-section">
            <button class="simulate-button" onclick="sendCheckboxData()">Simular</button>
        </div>
</div>

<div class="content">
    <div id="loadingIndicator">Cargando...</div>
    <img id="plotImage" src="{% url 'generate-plot' %}" alt="Gráfica Seaborn">
</div>

<script>
    // Función para recolectar los datos de los checkboxes
    function collectCheckboxData() {
        let data = {
            'sortAlgorithm': [],
            'searchAlgorithm': [],
            'paralellAlgorithm': []
        };

        document.querySelectorAll('[name="sortAlgorithm"]:checked').forEach((checkbox) => {
            data.sortAlgorithm.push(checkbox.value);
        });

        document.querySelectorAll('[name="searchAlgorithm"]:checked').forEach((checkbox) => {
            data.searchAlgorithm.push(checkbox.value);
        });

        document.querySelectorAll('[name="paralellAlgorithm"]:checked').forEach((checkbox) => {
            data.paralellAlgorithm.push(checkbox.value);
        });

        return data;
    }

    // Función para enviar los datos al servidor
    function sendCheckboxData() {
        let data = collectCheckboxData();

        document.getElementById('loadingIndicator').style.display = 'block';
        document.getElementById('plotImage').style.display = 'none';

        fetch("/analyzer/process_algorithms/", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                let plotImage = document.getElementById('plotImage');
                plotImage.onload = function() {
                    document.getElementById('loadingIndicator').style.display = 'none';
                    plotImage.style.display = 'block';
                };
                plotImage.src = "/analyzer/latest_plot/" + "?dummy=" + new Date().getTime();
            } else {
                console.error('Error en la respuesta del servidor');
                document.getElementById('loadingIndicator').style.display = 'none';
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            document.getElementById('loadingIndicator').style.display = 'none';
        });
    }
    function toggleCheckboxes(sourceCheckbox, groupName) {
        document.querySelectorAll(`[name="${groupName}"]`).forEach(checkbox => {
            checkbox.checked = sourceCheckbox.checked;
        });
    }

    // Agrega un 'listener' a los checkboxes para desmarcar el checkbox de la sección si uno de ellos se desmarca
    document.querySelectorAll('[name="sortAlgorithm"], [name="searchAlgorithm"], [name="paralellAlgorithm"]').forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            let groupCheckboxId = this.name === 'sortAlgorithm' ? 'sortAlgorithms' : 
                                this.name === 'searchAlgorithm' ? 'searchAlgorithms' : 'parallelAlgorithms';
            if (!this.checked) {
                document.getElementById(groupCheckboxId).checked = false;
            } else {
                // Verificar si todos los checkboxes de la sección están marcados
                let allChecked = true;
                document.querySelectorAll(`[name="${this.name}"]`).forEach(cb => {
                    if (!cb.checked) allChecked = false;
                });
                if (allChecked) {
                    document.getElementById(groupCheckboxId).checked = true;
                }
            }
        });
    });

</script>

</body>
</html>